<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<%- include("head", {meta: meta}); %>
	</head>
  <body>
		<div id="app" class="main-content">
			<main-app></main-app>
		</div>
		<script src="dist/<%=meta.mode%>/js/main.js?v=<%=meta.version%>"></script>
  </body>
</html>